body {
  margin: 0;
  padding: 0;
  background: url('./assets/img.jpg') no-repeat center center fixed; 
  background-size: cover;
  height: 100vh; /* 100 viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* veya istediğiniz metin rengi */
  font-size: 1.5rem; /* veya istediğiniz font boyutu */
}